html {
    background-color: #393b3d;
    color: #CCCCCC;
}

body {
    background-color: #232628;
    margin: 1px;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

.control-link, .file-link {
    color: #6699cc;
}

.key {
    color: #cc99cc;
    font-weight: bold;
}

.header {
    color: #99cc99;
}

.color-box-light {
    color: #CCCCCC;
}

.color-box-dark {
    color: #232628;
}

.color-box-frame {
    margin: 10px 0 0 0;
    background-color: #CCCCCC;
}

.color-box {
    margin: 1px;
}
