## Scope {: .header}
{{plugin.scope}}
[(copy)](copy-scope:{{plugin.scope_index}}){: .small}

{% if plugin.context_backtrace %}
## Scope Context Backtrace {: .header}
  {% for ctx in plugin.context_backtrace_stack %}
**{{loop.index}}:**{: .keyword} {{ctx}}

  {% endfor %}
[(copy)](copy-context-backtrace:{{plugin.context_backtrace_index}}){: .small}
{% endif %}

{% if plugin.pt_extent or plugin.rowcol_extent %}
## Scope Extent {: .header}
  {% if plugin.pt_extent %}
**pts:**{: .keyword} ({{plugin.extent_start}}, {{plugin.extent_end}})
[(copy)](copy-points:{{plugin.extent_pt_index}}){: .small}

  {% endif %}
  {% if plugin.pt_extent or plugin.rowcol_extent %}
**line/char:**{: .keyword} (**Line:** {{plugin.l_start}} **Char:** {{plugin.c_start}}, **Line:** {{plugin.l_end}} **Char:** {{plugin.c_end}})
[(copy)](copy-line-char:{{plugin.line_char_index}}){: .small}
  {% endif %}
{% endif %}

{% if plugin.appearance %}
## Appearance {: .header}
**fg:**{: .keyword} {{plugin.fg_preview}} {{plugin.fg_color}}
[(copy)](copy-fg:{{plugin.fg_index}}){: .small}

  {% if plugin.fg_sim %}
**fg (simulated alpha):**{: .keyword} {{plugin.fg_sim_preview}} {{plugin.fg_sim_color}}
[(copy)](copy-fg-sim:{{plugin.fg_sim_index}}){: .small}

  {% endif %}
  {% if plugin.fg_hash %}
**hashed fg:**{: .keyword} {{plugin.fg_hash_preview}} {{plugin.fg_hash_color}}
[(copy)](copy-fg-hash:{{plugin.fg_hash_index}}){: .small}

  {% endif %}
  {% if plugin.fg_hash_sim %}
**hashed fg (simulated alpha):**{: .keyword} {{plugin.fg_hash_sim_preview}} {{plugin.fg_hash_sim_color}}
[(copy)](copy-fg-hash-sim:{{plugin.fg_hash_sim_index}}){: .small}

  {% endif %}
**bg:**{: .keyword} {{plugin.bg_preview}} {{plugin.bg_color}}
[(copy)](copy-bg:{{plugin.bg_index}}){: .small}

  {% if plugin.bg_sim %}
**bg (simulated alpha):**{: .keyword} {{plugin.bg_sim_preview}} {{plugin.bg_sim_color}}
[(copy)](copy-bg-sim:{{plugin.bg_sim_index}}){: .small}

  {% endif %}
**style:**{: .keyword} {{plugin.style_open}}{{plugin.style}}{{plugin.style_close}}
[(copy)](copy-style:{{plugin.style_index}}){: .small}

{% endif %}

{% if plugin.selectors %}
## Selectors {: .header}
  {% if plugin.fg_name %}
**fg name:**{: .keyword} {{plugin.fg_name}}
[(copy)](copy-fg-sel-name:{{plugin.fg_name_index}}){: .small}

  {% endif %}
**fg scope:**{: .keyword} {{plugin.fg_scope}}
[(copy)](copy-fg-sel-scope:{{plugin.fg_scope_index}}){: .small}

  {% if plugin.fg_hash_name %}
**hashed fg name:**{: .keyword} {{plugin.fg_hash_name}}
[(copy)](copy-fg-hash-sel-name:{{plugin.fg_hash_name_index}}){: .small}

  {% endif %}
  {% if plugin.fg_hash_scope %}
**hashed fg scope:**{: .keyword} {{plugin.fg_hash_scope}}
[(copy)](copy-fg-hash-sel-scope:{{plugin.fg_hash_scope_index}}){: .small}

  {% endif %}
  {% if plugin.bg_name %}
**bg name:**{: .keyword} {{plugin.bg_name}}
[(copy)](copy-bg-sel-name:{{plugin.bg_name_index}}){: .small}

  {% endif %}
**bg scope:**{: .keyword} {{plugin.bg_scope}}
[(copy)](copy-bg-sel-scope:{{plugin.bg_scope_index}}){: .small}

  {% if plugin.bold %}
    {% if plugin.bold_name %}
**bold name:**{: .keyword} {{plugin.bold_name}}
[(copy)](copy-bold-sel-name:{{plugin.bold_name_index}}){: .small}

    {% endif %}
**bold scope:**{: .keyword} {{plugin.bold_scope}}
[(copy)](copy-bold-sel-scope:{{plugin.bold_scope_index}}){: .small}

  {% endif %}
  {% if plugin.italic %}
    {% if plugin.italic_name %}
**italic name:**{: .keyword} {{plugin.italic_name}}
[(copy)](copy-italic-sel-name:{{plugin.italic_name_index}}){: .small}

    {% endif %}
**italic scope:**{: .keyword} {{plugin.italic_scope}}
[(copy)](copy-italic-sel-scope:{{plugin.italic_scope_index}}){: .small}

  {% endif %}
  {% if plugin.underline %}
    {% if plugin.underline_name %}
**underline name:**{: .keyword} {{plugin.underline_name}}
[(copy)](copy-underline-sel-name:{{plugin.glow_underline_index}}){: .small}

    {% endif %}
**underline scope:**{: .keyword} {{plugin.underline_scope}}
[(copy)](copy-underline-sel-scope:{{plugin.underline_scope_index}}){: .small}

  {% endif %}
  {% if plugin.glow %}
    {% if plugin.glow_name %}
**glow name:**{: .keyword} {{plugin.glow_name}}
[(copy)](copy-glow-sel-name:{{plugin.glow_name_index}}){: .small}

    {% endif %}
**glow scope:**{: .keyword} {{plugin.glow_scope}}
[(copy)](copy-glow-sel-scope:{{plugin.glow_scope_index}}){: .small}

  {% endif %}
{% endif %}

{% if plugin.files %}
## Files {: .header}
**syntax:**{: .keyword} [{{plugin.syntax}}](syntax)
[(copy)](copy-syntax:{{plugin.syntax_index}}){: .small}

  {% if plugin.scheme %}
**tmTheme:**{: .keyword} [{{plugin.scheme}}](scheme)
[(copy)](copy-scheme:{{plugin.scheme_index}}){: .small}
  {% endif %}

  {% for item in plugin.overrides %}
**Scheme {{loop.index}}:**{: .keyword} [{{item}}](override:{{plugin.overrides_index}}:{{loop.index}})
[(copy)](copy-overrides:{{plugin.overrides_index}}:{{loop.index}}){: .small}

  {% endfor %}
{% endif %}
